nav{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    margin:50px 200px ;
    
}
h3{
    font-size: 35px;
    
    text-align: center;
    
    
    
    
}
span{
    color:red;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.port{
    color: #474747;
}

    

ul li{
    list-style:none ;
    margin-right: 50px;
}
.btn{
    color: white;
    background-color: coral;
    border-radius: 3px;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    
}
.banner1{
    font-size: 45px;
    font-weight: 600;
}
.banner2{
    font-weight: bold;
    font-size:85px;
}

.banner{
    display: flex;
    justify-content:space-between;
    margin: 0 35px 0 230px;
    height: 100%;
    width:80% ;
}
.banner-content{
    max-width: 580px;
}
.banner-pic img {
    height: 676px; 
    width:584px ;
    margin: 10px;
}
.header{
    background-image: url('images/developer.png'),url(images/header_bg.png);;
    background-repeat: no-repeat;
    background-position:top left , bottom right ;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color:#FFF8F3;
}
.about{
    border-radius: 10px;
    padding:130px 150px;
    text-align: center;
    margin-top: 130px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-items{
    display: flex;
    justify-content: space-around;
    gap: 20px;

}
.item-description{
    font-weight: 600;
}
.skills-container{
    display: flex;
    gap:20px;
}
.skill{
    padding: 30px;
    box-shadow: 0 6px 50px 0px rgba(red, green, blue, alpha);
    
}
main-section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* resume-section */
.resume-container{
    display: flex;
    gap:24px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description,.experience-sub-title{
    color: #757575;

}
.resume hr{
    margin:30px 5px;
}
button{
justify-content: center;
}
/* footer */
footer{
    padding: 130px 230px;
    display: flex;
    gap:100px
}
.footer-column{
    width: 50%;
}
 footer input[type="text"]{
    height:60px;
    border-radius:5px ;
    background-color: aliceblue;
    display: block;
    width:100%;
    padding: 10px 20px;
    margin: 24px;
 }
 footer input[type="email"],footer textarea{
      height:60px;
    border-radius:5px ;
    background-color: aliceblue;
    display: block;
    width:100%;
    padding: 10px 20px;
    margin: 24px;
 }


